@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.single-raptors-card-container {
  @include cardContainers;
}

.single-raptors-card {
  @include allRaptorsCards;
}

.single-raptors-cards__card-flip--active {
  @include allCardsActive;
}

.single-raptors-card__front:before,
.single-raptors-card__front:after,
.single-raptors-card__back:before,
.single-raptors-card__back:after {
  @include allRaptorsCardsBackgroundColor;
}

.single-raptors-card__front:after,
.single-raptors-card__back:after {
  @include allCardsSparkle;
}

.raptors-placeholder-card {
  @include placeholderCards;
}

@keyframes holoSparkle {
  0% {
    opacity: 0.3;
  }
  5% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes holoGradient {
  0% {
    opacity: 0;
    background-position: 0% 0%;
  }
  100% {
    opacity: 0;
    background-position: 50% 50%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 50% 50%;
    opacity: 0.3;
  }
  35% {
    background-position: 50% 50%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}
