@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.main-celtics {
  @include mainCardPages;
  background: linear-gradient(0deg, black, rgb(0, 131, 72) 40%, black);
  &__header {
    font-family: $celticsFont;
  }
}

.main-celtics-section {
  @include mainCardSections;
}

.celtics-card-section {
  @include teamCardSections;
}

.celtics-card-container {
  @include cardContainers;
}

.celtics-card {
  @include allCelticsCards;
}

.celtics-cards__card-flip--active {
  @include allCardsActive;
}

.celtics-card__front:before,
.celtics-card__front:after,
.celtics-card__back:before,
.celtics-card__back:after {
  @include allCelticsCardsBackgroundColor;
}

.celtics-card__front:after,
.celtics-card__back:after {
  @include allCardsSparkle;
}

@keyframes holoSparkle {
  0% {
    opacity: 0.3;
  }
  5% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes holoGradient {
  0% {
    opacity: 0;
    background-position: 0% 0%;
  }
  100% {
    opacity: 0;
    background-position: 50% 50%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 50% 50%;
    opacity: 0.3;
  }
  35% {
    background-position: 50% 50%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}
