@use "./variables" as *;
@use "./breakpoints" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet2 {
  @media (min-width: $breakpoint-tablet2) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin scoreCardDetails {
  font-family: $digitalFont;
  font-size: 1.2rem;
  @include tablet {
    font-size: 0.75rem;
  }
  @include tablet2 {
    font-size: 1.2rem;
  }
}

@mixin dropDownMenus {
  font-family: $mainFont;
  background-color: rgb(237, 237, 237);
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  width: 100%;
  @include tablet {
    height: 2rem;
    width: 12rem;
  }
}

@mixin cardContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__subtitle {
    color: white;
    font-family: $mainFont;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

@mixin compareButtonHover {
  background-color: rgba(12, 4, 237, 0.878);
  color: white;
  border-radius: 1.875rem;
  font-family: $mainFont;
  font-size: 1.5rem;
  padding: 0.3rem;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 65, 0.878);
    opacity: 1;
    transition: 0.5s;
  }
}
