@use "./variables" as *;
@use "./breakpoints" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet2 {
  @media (min-width: $breakpoint-tablet2) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

// Team pages below

@mixin mainCardPages {
  padding: 1rem 1rem;
  &__header-container {
    display: flex;
    justify-content: center;
  }
  &__header {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $raptorsFont;
    font-size: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@mixin mainCardSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin teamCardSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

// Cards below

@mixin cardContainers {
  perspective: 62.5rem;
  padding: 1rem 0.25rem;
}

@mixin allCards {
  width: 17.75rem;
  height: 25rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  &:hover {
    transform: rotateY(180deg);
  }
  &__front,
  &__back {
    position: absolute;
    border: rgb(255, 255, 255) 0.25rem solid;
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
    backface-visibility: hidden;
    background-blend-mode: screen;
    opacity: 0.9;
  }
  &__front {
    background-color: black;
    &__title {
      text-align: center;
      color: white;
      padding-top: 1rem;
      font-size: 2rem;
      font-family: $mainFont;
    }
    &__description {
      text-align: center;
      font-family: $mainFont;
      color: white;
      font-size: 1rem;
    }
    &__quote {
      text-align: center;
      font-family: $mainFont;
      color: white;
      font-size: 1.5rem;
    }
  }
  &__back {
    background-color: rgb(189, 27, 33);
    color: white;
    transform: rotateY(180deg);
    &__title {
      text-align: center;
      padding-top: 1rem;
    }
    &__bio {
      padding: 0rem 1rem;
      font-family: $mainFont;
      font-size: 0.8rem;
      margin-top: 9.8rem;
    }
    &__video {
      width: 100%;
      height: 9rem;
      aspect-ratio: 16 / 9;
      position: absolute;
      z-index: 5;
    }
  }
  &__image {
    display: block;
    margin: 1.25rem auto;
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    border: rgb(0, 0, 0) solid 0.1rem;
    border-radius: 1.875rem;
    z-index: 2;
  }
  &__stats-title {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  &__stats-container {
    width: 100%;
    padding-top: 0.5rem;
  }
  &__stats {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
  }
  &__stats-stat {
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

@mixin allRaptorsCards {
  @include allCards;
  &__front {
    background-color: rgb(117, 59, 189);
    &__title {
      font-family: $raptorsFont;
    }
  }
  &__back {
    background-color: rgba(189, 27, 33, 0.8);
  }
}

@mixin allCelticsCards {
  @include allCards;
  &__front {
    background-color: rgb(0, 131, 72);
    &__title {
      font-family: $celticsFont;
    }
  }
  &__back {
    background-color: rgb(0, 131, 72);
  }
}

@mixin allCardsActive {
  transform: rotateY(180deg);
}

@mixin allCardsBackgroundColor {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(117, 59, 189) 30%,
    rgb(180, 151, 90) 70%,
    transparent 20%
  );
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border-radius: 1.875rem;
  background-size: 300% 300%;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  z-index: 1;
  animation: holoGradient 5s ease infinite;
}

@mixin allRaptorsCardsBackgroundColor {
  @include allCardsBackgroundColor;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(117, 59, 189) 30%,
    rgb(180, 151, 90) 70%,
    transparent 20%
  );
}

@mixin allCelticsCardsBackgroundColor {
  @include allCardsBackgroundColor;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(0, 131, 72) 30%,
    rgb(0, 131, 72) 70%,
    transparent 20%
  );
}

@mixin allCardsSparkle {
  background-image: url("../../assets/Gifs/sparkles.gif");
  background-size: 100%;
  mix-blend-mode: color-dodge;
  opacity: 0.1;
  z-index: 2;
  animation: holoSparkle 10s ease infinite;
}

// Compare page below

@mixin scoreCardDetails {
  font-family: $digitalFont;
  font-size: 1.2rem;
  @include tablet {
    font-size: 0.9rem;
  }
  @include tablet2 {
    font-size: 1.2rem;
  }
}

@mixin dropDownMenus {
  font-family: $mainFont;
  background-color: rgb(237, 237, 237);
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  @include tablet {
    height: 2rem;
    width: 12rem;
  }
}

@mixin compareCardContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__subtitle {
    color: rgb(255, 255, 255);
    border: 0.2rem solid white;
    background-color: black;
    padding: 0.1rem 1rem;
    font-family: $mainFont;
    border-radius: 0.5rem;
    font-size: 2.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

@mixin compareButtonHover {
  background-color: $nbaBlue;
  color: white;
  border-radius: 1.875rem;
  font-family: $mainFont;
  font-size: 1.5rem;
  padding: 0.3rem;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 166, 0, 0.95);
    opacity: 1;
    transition: 0.5s;
  }
}

@mixin placeholderCards {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.75rem;
  height: 25rem;
  position: relative;
  perspective: 62.5rem;
  padding: 1rem 0.25rem;
  &__gif {
    width: 10rem;
    height: 10rem;
  }
}
