@use "./typography" as *;

$cardItalic: "CardItalic";

$mainFont: "Oswald";

$digitalFont: "Digital";

$raptorsFont: "Raptors";

$celticsFont: "Celtics";

$nbaBlue: #2464b5;

$nbaBlueLighter: #2196f3;

$mainBackground: rgb(245, 245, 245);

$secondaryBackground: #f9f9f9;
