@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.single-celtics-card-container {
  perspective: 62.5rem;
  padding: 1rem 0.25rem;
}

.single-celtics-card {
  @include allCelticsCards;
}

.single-celtics-cards__card-flip--active {
  @include allCardsActive;
}

.single-celtics-card__front:before,
.single-celtics-card__front:after,
.single-celtics-card__back:before,
.single-celtics-card__back:after {
  @include allCelticsCardsBackgroundColor;
}

.single-celtics-card__front:after,
.single-celtics-card__back:after {
  @include allCardsSparkle;
}

.celtics-placeholder-card {
  @include placeholderCards;
  &__gif {
    width: 7rem;
  }
}

@keyframes holoSparkle {
  0% {
    opacity: 0.3;
  }
  5% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes holoGradient {
  0% {
    opacity: 0;
    background-position: 0% 0%;
  }
  100% {
    opacity: 0;
    background-position: 50% 50%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 50% 50%;
    opacity: 0.3;
  }
  35% {
    background-position: 50% 50%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}
