@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;

.logos-section {
  padding: 4rem 2rem 3rem;
  background-color: $mainBackground;
  &__rows {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  &__logo {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    transition: transform 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
    }
  }
}

.compare-button {
  width: 12rem;
  margin-bottom: 2rem;
  @include compareButtonHover;
  &__desktop-view {
    display: none;
    @include desktop {
      display: unset;
      color: white;
      width: 30rem;
      margin-top: 2rem;
      @include compareButtonHover;
    }
  }
  @include tablet {
    width: 21rem;
  }
  @include desktop {
    display: none;
  }
  &__section {
    @include tablet {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
  }
  &__section-desktop-view {
    display: flex;
    justify-content: center;
  }
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__gif {
    max-width: 100%;
    max-height: 100%;
  }
}
