@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.main-raptors {
  @include mainCardPages;
  background: linear-gradient(0deg, black, #bd1b21 25%, black);
  &__header {
    font-family: $raptorsFont;
  }
}

.main-raptors-section {
  @include mainCardSections;
}

.raptors-card-section {
  @include teamCardSections;
}

.raptors-card-container {
  @include cardContainers;
}

.raptors-card {
  @include allRaptorsCards;
}

.raptors-cards__card-flip--active {
  @include allCardsActive;
}

.raptors-card__front:before,
.raptors-card__front:after,
.raptors-card__back:before,
.raptors-card__back:after {
  @include allRaptorsCardsBackgroundColor;
}

.raptors-card__front:after,
.raptors-card__back:after {
  @include allCardsSparkle;
}

@keyframes holoSparkle {
  0% {
    opacity: 0.3;
  }
  5% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes holoGradient {
  0% {
    opacity: 0;
    background-position: 0% 0%;
  }
  100% {
    opacity: 0;
    background-position: 50% 50%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 50% 50%;
    opacity: 0.3;
  }
  35% {
    background-position: 50% 50%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}

// .raptors-card {
//   width: 17.75rem;
//   height: 25rem;
//   position: relative;
//   transform-style: preserve-3d;
//   transition: transform 1s;
//   &:hover {
//     transform: rotateY(180deg);
//   }
//   &__front,
//   &__back {
//     position: absolute;
//     border: rgb(255, 255, 255) 0.25rem solid;
//     width: 100%;
//     height: 100%;
//     border-radius: 1.875rem;
//     backface-visibility: hidden;
//     background-blend-mode: screen;
//     opacity: 0.9;
//   }
//   &__front {
//     background-color: rgb(117, 59, 189);
//     &__title {
//       text-align: center;
//       color: white;
//       padding-top: 1rem;
//       font-size: 2rem;
//       font-family: $raptorsFont;
//     }
//     &__description {
//       text-align: center;
//       font-family: $mainFont;
//       color: white;
//       font-size: 1rem;
//     }
//     &__quote {
//       text-align: center;
//       font-family: $mainFont;
//       color: white;
//       font-size: 1.5rem;
//     }
//   }
//   &__back {
//     background-color: rgb(189, 27, 33);
//     color: white;
//     transform: rotateY(180deg);
//     &__title {
//       text-align: center;
//       padding-top: 1rem;
//     }
//     &__bio {
//       padding: 0rem 1rem;
//       font-family: $mainFont;
//       font-size: 0.8rem;
//       margin-top: 9.8rem;
//     }
//     &__video {
//       width: 100%;
//       height: 9rem;
//       aspect-ratio: 16 / 9;
//       position: absolute;
//       z-index: 5;
//     }
//   }
//   &__image {
//     display: block;
//     margin: 1.25rem auto;
//     width: 12.5rem;
//     height: 12.5rem;
//     object-fit: cover;
//     border: rgb(0, 0, 0) solid 0.1rem;
//     border-radius: 1.875rem;
//     z-index: 2;
//   }
//   &__stats-title {
//     text-align: center;
//     font-size: 1.3rem;
//     padding-top: 1rem;
//   }
//   &__stats-container {
//     width: 100%;
//     padding-top: 0.5rem;
//   }
//   &__stats {
//     list-style: none;
//     padding: 0;
//     font-size: 1rem;
//     display: flex;
//     flex-direction: row;
//   }
//   &__stats-stat {
//     font-size: 0.8rem;
//     padding-left: 1rem;
//     padding-bottom: 1rem;
//   }
// }
