@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.main-raptors {
  @include mainCardPages;
  background: linear-gradient(0deg, black, #bd1b21 25%, black);
  &__header {
    font-family: $raptorsFont;
  }
}

.main-raptors-section {
  @include mainCardSections;
}

.raptors-card-section {
  @include teamCardSections;
}

.raptors-card-container {
  @include cardContainers;
}

.raptors-card {
  @include allRaptorsCards;
}

.raptors-cards__card-flip--active {
  @include allCardsActive;
}

.raptors-card__front:before,
.raptors-card__front:after,
.raptors-card__back:before,
.raptors-card__back:after {
  @include allRaptorsCardsBackgroundColor;
}

.raptors-card__front:after,
.raptors-card__back:after {
  @include allCardsSparkle;
}

@keyframes holoSparkle {
  0% {
    opacity: 0.3;
  }
  5% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes holoGradient {
  0% {
    opacity: 0;
    background-position: 0% 0%;
  }
  100% {
    opacity: 0;
    background-position: 50% 50%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 50% 50%;
    opacity: 0.3;
  }
  35% {
    background-position: 50% 50%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}
