.header {
  background-color: rgba(12, 4, 237, 0.878);
  width: 100%;
  &__nav {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  &__title {
    font-size: 2rem;
    padding: 1rem;
  }
  &__nba-logo {
    padding: 1rem 1rem 1rem 1rem;
    width: 4rem;
  }
}
