@use "./styles/partials/variables" as *;
@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/mixin" as *;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $cardItalic, sans-serif;
  background-color: $secondaryBackground;
}

body,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
